  .sidebarOption {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    color: grey;
    font-size: 16px;
    transition: 200ms color ease-in;
  }
  
  .sidebarOption:hover {
    color: white;
  }
  
  .sidebarOption_icon {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(178, 175, 175);
    
  }
  
  .sidebarOption > p {
    margin-top: 120px;
    margin-left: 15px;
    font-size: 14px;
    color: white;
    padding: 9px 5px;
    width: 210px;
    border-radius: 8px;
    transition: 200ms color ease-in;
  }
.sidebarOption > p:hover{
  background-color: rgb(50, 49, 49);
}
